*.o
*.exe
.deps/
config.log
config.h
config.status
Makefile
stamp-h1
egrep.c
fscanner.c
cscope.out
cscope.in.out
cscope.po.out
.vs/
.vscode/

*.cmake
CMakeCache.txt
CMakeFiles/

*.sln
*.vcxproj
*.vcxproj.filters
*.VC.opendb
*.VC.db


build/
Debug/
dbghelp.pdb/
ipch/


